
@model IEnumerable<GaloGroup.Domain.DBModel.Product>
    @using GridMvc.Html

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />

<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>

<div class="container-fluid">
    <div class="btn-toolbar navbar-right" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">

            <button type="button" class="btn btn-warning" id="ProductAdd">نمایش</button>
            <button type="button" class="btn btn-danger">حذف</button>
            <button type="button" class="btn btn-primary">ویرایش</button>
            <button type="button" class="btn btn-success" onclick="AddProduct(this)">جدید</button>

        </div>

    </div>
    <div class="code-cut">
        @Html.Grid(Model).Columns(columns =>
                        {
                            columns.Add(c => c.Price).Titled("قیمت").Filterable(true);
                            columns.Add(c => c.ProductTitle).Titled("نام محصول").Filterable(true);
                            columns.Add(c => c.Id).Titled("شناسه ").Filterable(true)
                            .Encoded(false)
                            .Sanitized(false)
                            .SetWidth(30)
                            .RenderValueAs(o => Html.ActionLink("Edit", "Edit", new { id = o.Id }));

                            }).WithPaging(10).Sortable(true)
    </div>
</div>
<div>

</div>





